<div class="col-md-12">
    <div class="row">

        <div class="col-md-6" style="font-size:20px">
          <p><%= link_to(job.title, job_path(job)) %></p>
        </div>
        <div class="col-md-6">
          <p></p>
        </div>

    </div>
    <div class="row">
        <div class="col-md-2">
            </div>
            <div class="col-md-2">
              <p><i class="fa fa-jpy fa-md" aria-hidden="true"></i>
              <%= job.wage_lower_bound %> ~ <%= job.wage_upper_bound %></p>
            </div>
            <div class="col-md-4">
              <p><i class="fa fa-address-card-o" aria-hidden="true"></i>  <%= job.category %></p>
            </div>
            <div class="col-md-2">
              <p></p>
            </div>

        </div>
        <div class="row">
            <div class="col-md-2">

            </div>
              <div class="col-md-2">
                <%= job.company %>
              </div>

              <div class="col-md-4">
                <i class="fa fa-map-marker fa-md" aria-hidden="true" style="color:rgb(202, 12, 12)" ></i>
                <%= job.location %>
              </div>

              <div class="col-md-2">
                <span>
                  <i class="fa fa-clock-o" aria-hidden="true"></i>
                  <%= time_ago_in_words(job.created_at) %> ago
                </span>
              </div>

        </div>
        <hr>
</div>
