<div class="container text-center">

  <div class="page-header">
    <h1 class="text-center" style="font-family:Verdana">Job Lsit</h1>
  </div>
  <div class="dropdown clearfix pull-right">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        Reorder
        <span class="caret"></span>
      </button>
      <ul class="reorder dropdown-menu ">
        <li><%= link_to("By lower wage", jobs_path(:order => "by_lower_bound")) %></li>
        <li><%= link_to("By upper wage", jobs_path(:order => "by_upper_bound")) %></li>
        <li><%= link_to("By resumes",   admin_jobs_path(:order => "by resumes")) %></li>
        <li><%= link_to("By publish time", jobs_path ) %></li>
      </ul>
  </div>

  <br><br><br>

  <div class="col-md-12">
    <% @jobs.each do |job| %>
    <div class="row">
        <div class="col-sm-4">
          <i class="fa fa-id-card-o fa-lg" aria-hidden="true"></i>
          <%= link_to(job.title, job_path(job)) %>
        </div>

        <div class="col-sm-4">
          <i class="fa fa-jpy fa-lg" aria-hidden="true"></i>
          <%= job.wage_lower_bound %> ~ <%= job.wage_upper_bound %>
        </div>

        <div class="col-md-4">
          <i class="fa fa-envelope fa-lg" aria-hidden="true"></i>
          <%= job.contact_email  %>
        </div>
        <br><br>

        <div class="col-md-4">
          <i class="fa fa-building fa-lg" aria-hidden="true"></i>
          <%= job.company %>
        </div>

        <div class="col-md-4">
          <i class="fa fa-map-marker fa-lg" aria-hidden="true" style="color:rgb(202, 12, 12)" ></i>
          <%= job.location %>
        </div>

        <div class="col-md-4">
          <i class="fa fa-clock-o fa-lg" aria-hidden="true" style="color:rgb(13, 188, 208)"></i>
          <%= job.created_at %>
        </div>

    </div>
    <hr>
    <% end %>
  </div>
  <div class="text-center">
     <%= will_paginate @jobs %>
  </div>

</div>
