<br>
<div class="container text-center jos_page_size">

  <div class="page-header">
    <h1 class="text-center" style="font-family:Verdana">工作列表</h1>
  </div>
  <ul class="nav nav-tabs text-center">
      <li class="active"><a data-toggle="tab" href="#home">ALL</a></li>
      <li><a data-toggle="tab" href="#menu1">开发</a></li>
      <li><a data-toggle="tab" href="#menu2">医护</a></li>
      <li><a data-toggle="tab" href="#menu3">销售</a></li>
      <li><a data-toggle="tab" href="#menu3">设计</a></li>
      <li><a data-toggle="tab" href="#menu3">人力资源</a></li>
      <li><a data-toggle="tab" href="#menu3">法律</a></li>
  </ul>
  <div class="dropdown clearfix pull-right">
      <br>
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        排序
        <span class="caret"></span>
      </button>
      <ul class="reorder dropdown-menu ">
        <li><%= link_to("按最低薪资排序", jobs_path(:order => "by_lower_bound")) %></li>
        <li><%= link_to("按最高薪资排序", jobs_path(:order => "by_upper_bound")) %></li>
        <li><%= link_to("按发表时间排序", jobs_path ) %></li>
      </ul>
  </div>

  <br>
  <%= render :partial => "jobs_item", :collection => @jobs, :as => :job %>
  <div class="text-center">
    <%= will_paginate @jobs, renderer: BootstrapPagination::Rails %>
  </div>
</div>
