<br><br><br>

<div class="container-fluid">
    <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">

      <br>

      <div class="job-content well" style="border-radius:20px">
          <div class="pull-right">
            <% if current_user && current_user.is_member_of(@job) %>
                <%= link_to("取消收藏", quit_job_path(@job), method: :post, class: "fa fa-star") %> |
            <% else %>
                <%= link_to("收藏", join_job_path(@job), method: :post, class: "fa fa-star-o") %> |
              <% end %>
            <%= link_to(content_tag(:i, " 返回", class: "fa fa-arrow-left"), url_for(jobs_path)) %>

          </div>


          <div class="pull-right">

          </div>

          <h1 class="text-center"><%= @job.title %> </h1>
          <p class="text-center">
            <i class="fa fa-building" aria-hidden="true"></i>
            <%= @job.company %>
          </p>

          <hr>

          <div class="row col-md-12">
              <div class="col-md-4">
                  <p><i class="fa fa-address-card-o" aria-hidden="true"></i>  <%= @job.category %> </p>
              </div>
              <div class="col-md-4">
                  <p><i class="fa fa-jpy" aria-hidden="true"></i> <%= @job.wage_lower_bound %> ~ <%= @job.wage_upper_bound %> </p>
              </div>
              <div class="col-md-4">
                  <p><i class="fa fa-map-marker" aria-hidden="true"></i> <%= @job.location %></p>
              </div>
          </div>

          <div class="row col-md-12">
              <div class="col-md-4">
                  <% if @job.number %>
                    <p>
                        <i class="fa fa-male" aria-hidden="true"></i>
                        招聘人数：<%= @job.number %>
                    </p>
                  <% end %>
              </div>
              <div class="col-md-4">
                  <p><i class="fa fa-envelope" aria-hidden="true"></i> <strong><%= @job.contact_email %></strong></p>
              </div>
              <div class="col-md-4">
                  <p><span><i class="fa fa-clock-o" aria-hidden="true"></i> <%= time_ago_in_words(@job.created_at) %> ago</span><br></p>
              </div>
          </div>

          <div class="row col-md-12">
              <hr>
              <div class="col-md-4">
                <strong><span>岗位要求:</sapn> </strong><br>
                <p>
                  <%= simple_format(@job.description, class: "job-description") %>
                </p><br>
              </div>
          </div>


          <div class="resume text-center">
            <%= link_to("投递简历", new_job_resume_path(@job),  class: "btn btn-primary ") %>
          </div>

      </div>

    </div>

</div>
