<div class="jumbotron">
  <h1 class="title">Provide a suitable job for you</h1>
  <br><br>
  <p class="lead"><a class="btn btn-lg btn-button" href="/jobs">Apply Now</a></p>
</div>


<!-- section1 -->
<div class="container-fluid text-center row caption1">
  <br><br>
  <h1>About us</h1>
  <hr style="width:120px;">
  <div class="row">
    <div class="col-sm-4 thumbnail">
      <p><strong>Efficient</strong></p><br>
      <p><i class="fa fa-rocket fa-5x" aria-hidden="true"></i></p>
      <p>Sent your resume quickly</p>
    </div>
    <div class="col-sm-4 thumbnail">
      <p><strong>Opportunity</strong></p><br>
      <p><i class="fa fa-building fa-5x" aria-hidden="true"></i></p>
      <p>We provide many high quality offers</p>
    </div>
    <div class="col-sm-4 thumbnail">
      <p><strong>Simple</strong></p><br>
      <p><i class="fa fa-hand-o-up fa-5x" aria-hidden="true"></i></p>
      <p>Submit your resume simply and quickly</p>
    </div>
  </div>
</div>

<!-- section2 -->
<section>
    <br>
    <div class="container-fluid text-center">
      <div class="col-md-8 col-md-offset-2">
        <div class="row">
          <div class="row">
              <div class="col-md-6 col-md-offset-3 text-center">
                  <h2 class="section-title">We provide</h2>
                  <hr style="width:120px;">
              </div>
          </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <div class="expert-box">
                            <%= image_tag("computer.png", :class => "img-welcome img-circle" )%>

                        </div>
                        <div>
                          <h3>Developer</h3>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="expert-box">
                            <%= image_tag("doctor.png", :class => "img-welcome img-circle") %>
                        </div>
                        <div>
                          <h3> Health care</h3>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="expert-box">
                            <%= image_tag("human-resources.png", :class => "img-welcome img-circle") %>
                        </div>
                        <div>
                          <h3> Human-resources</h3><br>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="expert-box">
                            <%= image_tag("pen.png", :class => "img-welcome img-circle") %>
                        </div>
                        <div>
                          <h3> Design</h3>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="expert-box">
                            <%= image_tag("sale.png", :class => "img-welcome img-circle") %>
                        </div>
                        <div>
                          <h3>Sales</h3>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="expert-box">
                            <%= image_tag("balance.png", :class => "img-welcome img-circle") %>
                        </div>
                        <div>
                          <h3>Legal</h3>
                        </div>
                    </div>

                </div>
                <br><br><br>
            </div>
          </div>
        </div>
    </div>
</section>
