<div class="jumbotron">
  <div class="main-heading title">
    <h1 >Winner</h1>

  </div>

  <br><br>
  <p class="lead"><a class="btn btn-lg btn-button" href="/jobs">立刻应聘</a></p>
</div>


<!-- section1 -->
<div class="container-fluid text-center row caption1">
  <br><br>
  <h1>关于我们</h1>
  <hr style="width:120px;">
  <div class="row">
    <div class="col-sm-4 thumbnail">
      <p><strong>高效</strong></p><br>
      <p><i class="fa fa-rocket fa-5x" aria-hidden="true"></i></p>
      <p>第一时间将你的简历送达</p>
    </div>
    <div class="col-sm-4 thumbnail">
      <p><strong>有干货</strong></p><br>
      <p><i class="fa fa-building fa-5x" aria-hidden="true"></i></p>
      <p>我们提供大量优质的工作岗位</p>
    </div>
    <div class="col-sm-4 thumbnail">
      <p><strong>简便</strong></p><br>
      <p><i class="fa fa-hand-o-up fa-5x" aria-hidden="true"></i></p>
      <p>提交简历只需一步</p>
    </div>
  </div>
</div>

<!-- section2 -->
<section>
    <br>
    <div class="container-fluid text-center">
      <div class="col-md-8 col-md-offset-2">
        <div class="row">
          <div class="row">
              <div class="col-md-6 col-md-offset-3 text-center">
                  <h2 class="section-title">热门岗位</h2>
                  <hr style="width:120px;">
              </div>
          </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <div class="expert-box">
                            <%= image_tag("computer.png", :class => "img-welcome img-circle" )%>
                        </div>
                        <div>
                          <h3> 开发</h3>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="expert-box">
                            <%= image_tag("doctor.png", :class => "img-welcome img-circle") %>
                        </div>
                        <div>
                          <h3> 医护人员</h3>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="expert-box">
                            <%= image_tag("human-resources.png", :class => "img-welcome img-circle") %>
                        </div>
                        <div>
                          <h3> 人力资源</h3><br>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="expert-box">
                            <%= image_tag("pen.png", :class => "img-welcome img-circle") %>
                        </div>
                        <div>
                          <h3>设计</h3>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="expert-box">
                            <%= image_tag("sale.png", :class => "img-welcome img-circle") %>
                        </div>
                        <div>
                          <h3>销售</h3>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="expert-box">
                            <%= image_tag("balance.png", :class => "img-welcome img-circle") %>
                        </div>
                        <div>
                          <h3>法律从业</h3>
                        </div>
                    </div>

                </div>
                <br><br><br>
            </div>
          </div>
        </div>
    </div>
</section>
