<br>
<div class="col-md-12">
  <div class="dropdown clearfix pull-right btn-group">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
      排序
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><%= link_to("按最低薪资排序",   admin_jobs_path(:order => "by_lower_bound")) %></li>
      <li><%= link_to("按最高薪资排序",   admin_jobs_path(:order => "by_upper_bound")) %></li>
      <li><%= link_to("按简历数量排序",   admin_jobs_path(:order => "by resumes")) %></li>
      <li><%= link_to("按发表时间排序", admin_jobs_path ) %></li>
    </ul>
    <a href = jobs/new , class="btn btn-primary" role="button">发表职缺</a>
  </div>

  <table class="table text-center table-striped list">
    <thead class="font" style="background-color: rgb(150, 214, 230);">
      <td class="text-left">
        工作
      </td>
      <td>
        简历数量
      </td>
      <td>
        工资
      </td>
      <td>
        编辑
      </td>
      <td>
        删除
      </td>
      <td>
        公开/隐藏
      </td>
      <td>
        发表时间
      </td>
    </thead>
    <tbody>
      <%= render :partial => "admin_jobs_item", :collection => @jobs, :as => :job %>
    </tbody>
  </table>
  <div class="text-center">
    <%= will_paginate @jobs, renderer: BootstrapPagination::Rails %>
  </div>

</div>
