<br>
<div class="col-md-12">
  <div class="dropdown clearfix pull-right btn-group">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
      Reorder
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><%= link_to("By lower wage",   admin_jobs_path(:order => "by_lower_bound")) %></li>
      <li><%= link_to("By upper wage",   admin_jobs_path(:order => "by_upper_bound")) %></li>
      <li><%= link_to("By resumes",   admin_jobs_path(:order => "by resumes")) %></li>
      <li><%= link_to("By publish time", admin_jobs_path ) %></li>
    </ul>
    <a href = jobs/new , class="btn btn-primary" role="button">Add a job</a>
  </div>

  <table class="table text-center table-striped list">
    <thead class="font">
      <td class="text-left">
        Name
      </td>
      <td>
        Resumes
      </td>
      <td>
        Salary
      </td>
      <td>
        Edit
      </td>
      <td>
        Delete
      </td>
      <td>
        Publish/Hide
      </td>
      <td>
        Created Time
      </td>
    </thead>
    <tbody>
      <% @jobs.each do |job| %>
        <tr>
          <td class="text-left">
            <%= render_job_status(job) %>
            <%= link_to(job.title, admin_job_path(job)) %>
          </td>
          <td><%= link_to(job.resumes.count, admin_job_resumes_path(job)) %> </td>
          <td><i class="fa fa-jpy" aria-hidden="true"></i><%= job.wage_lower_bound %> ~ <%= job.wage_upper_bound %></td>
          <td>
              <%= link_to(edit_admin_job_path(job) ) do%>
              <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true" style="color:black"></i>
              <% end %>
          <td>
              <%= link_to(admin_job_path(job),
                          method: :delete, data: { confirm: "Are you sure?" } ) do%>
              <i class="fa fa-trash fa-lg" aria-hidden="true" style="color:black"></i>
              <% end %>
          </td>

          <td>
                <% if job.is_hidden %>
                  <%= link_to(publish_admin_job_path(job) , :method => :post,   :class => "btn btn-xs btn-default") do %>
                  <i class="fa fa-eye fa-lg" aria-hidden="true"></i>
                <% end %>
                <% else %>
                  <%= link_to(hide_admin_job_path(job), :method => :post,  :class => "btn btn-xs btn-default") do %>
                  <i class="fa fa-ban fa-lg" aria-hidden="true"></i>
                <% end %>
                <% end %>
          </td>
          <td><%= job.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
