<div class="container-fluid">
    <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">

      <br>
      <div class="job-content well" style="border-radius:20px" >
        <div class="pull-right">
          <%= link_to(content_tag(:i, " Back", class: "fa fa-arrow-left"), url_for(jobs_path)) %>
        </div>
        <h1 class="text-center"><%= @job.title %> </h1>
        <hr>

        <p>
          <strong><span>Job Description:</sapn> </strong><br>
        </p>

        <p class="description">
          <%= simple_format(@job.description, class: "job-description") %>
        </p>

        <hr>

        <p>
          <i class="fa fa-building" aria-hidden="true"></i>
          <%= @job.company %>
        </p>

        <p>
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          <%= @job.location %>
        </p>

        <p>
          <i class="fa fa-jpy" aria-hidden="true"></i>
          <%= @job.wage_lower_bound %> ~ <%= @job.wage_upper_bound %><br>
        </p>

        <% if @job.number %>
            <p>
              <i class="fa fa-male" aria-hidden="true"></i>
              空缺：<%= @job.number %>
            </p>
        <% end %>


        <p>
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <strong><%= @job.contact_email %></strong><br>
        </p>

        <p>
          <i class="fa fa-calendar" aria-hidden="true"></i>
          <%= @job.created_at %><br>
        </p>

    </div>

    <div class="resume pull-right">
      <% if current_user && current_user == @job.user %>
        <%= link_to("Edit", edit_job_path(@job), class: "btn btn-primary ") %>
      <% end %>
      <%= link_to("Apply", new_job_resume_path(@job),  class: "btn btn-primary ") %>
    </div>

</div>
