<tr>
  <td class="text-left">
    <%= link_to(job.title, job_path(job)) %>
  </td>
  <td><%= job.company %></td>
  <td><%= job.category %></td>
  <td><%= job.resumes.count %> </td>
  <td><i class="fa fa-jpy fa-fw" aria-hidden="true"></i><%= job.wage_lower_bound %> ~ <%= job.wage_upper_bound %></td>
  <td><p><span><i class="fa fa-clock-o" aria-hidden="true"></i> <%= job.created_at.strftime("%Y-%m-%d") %> </span></p></td>
</tr>
