<br><br><br><br><br><br>
<div class="container well" style="border-radius:20px">

  <h3 class="text-center"> Upload Resume to <%= @job.title %></h3>

  <hr>

    <%= simple_form_for [@job, @resume] do |f| %>
          <%= f.input :content, :placeholder => "Self introduction" %>
          <%= f.input :attachment %>
          <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>


</div>
