<div class="col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2  well job-resume-box" style="border-radius:20px">
  <h2 class="text-center"><sapn class="fa fa-envelope-o"></sapn> 投递简历</h2>
  <h4 class="text-center"><sapn class="fa fa-tag"></sapn> <%= @job.title %><span class="company">  / <%= @job.company %></span></h4>
  <hr>
  <div class="">
  <%= simple_form_for [@job,@resume] do |f| %>
    <div>
      <%= f.input :content, :label => false, placeholder: '请输入简历描述', input_html: { class: 'resume-content' }  %>
      <%= f.input :attachment, label: '上传简历附件', input_html: { class: 'resume-attachment' }  %><br>
    </div>
    <div class="form-actions-resume text-center">
      <%= f.submit "立即投递", disable_with: "Submiting...", class: "button btn btn-primary"%>
    </div>
  <% end %>
  </div>
</div>
