<!DOCTYPE html>
<html>
    <head>

        <title>Winner Offer</title>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="/images/logo.png">

    </head>

    <body>

        <div class="container-fluid main">

          <div class="row navbar_fix">
            <%= render "common/navbar" %>
          </div>

          <div class="row flash">
            <%= render "common/flashes" %>
          </div>

          <div class="row">
            <%= yield %>
          </div>

          <div class="row">
            <%= render "common/footer" %>
          </div>

        </div>


    </body>
</html>
