<!DOCTYPE html>
<html>
    <head>

        <title>Winner Offer</title>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <link rel="shortcut icon" href="/images/favicon.ico">

    </head>

    <body>

        <div class="container-fluid main">

          <div class="row">
            <%= render "common/navbar" %>
          </div>
          <div class="row flash">
            <%= render "common/flashes" %>
          </div>

          <div class="row">
            <%= yield %>
          </div>

        </div>

        <%= render "common/footer" %>

    </body>
</html>
